@import "base";
@import "variables";

.eye-icon {
  @extend %form-field-eye-icon;
  position: absolute;
  width: $eye-icon-width;
  height: $eye-icon-height;
  right: $eye-icon-move-right;
  top: $eye-icon-move-top;
  transform: $eye-icon-translate-y;
  cursor: pointer;
}

:host {
  all: inherit;
  margin-bottom: 0;
}
