@import "variables";
@import "base";

.transport {
  display: flex;

  &:hover {
    background: $transport-item-active;
  }

  @include element(item) {
    flex: $transport-item-flex;
    text-align: $transport-item-text-align;
    line-height: $transport-item-line-height;
    padding: $transport-item-padding;
    position: relative;
  }


  @include element(reserved) {
    background: $transport-item-reserved-bg;
    text-align: center;
    border-radius: $transport-item-rental-reserved-br;
  }

  @include element(rental) {
    background: $transport-item-rental-bg;
    text-align: center;
    border-radius: $transport-item-rental-reserved-br;
  }

  @include element(icon) {
    @include modifier(car) {
      @include iconAfter($transport-sedan-icon, 35px, 3px, 5px)
    }

    @include modifier(moto) {
      @include iconAfter($transport-moto-icon, 35px, 3px, 5px)
    }

    @include modifier(default) {
      @include iconAfter($transport-default-icon, 35px, 3px, 5px)
    }

    @include modifier(hatchback) {
      @include iconAfter($transport-hatchback-icon, 35px, 3px, 5px)
    }
  }
}
